* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* 62.5% = 16px */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background: #f4f5f9;
  margin: 2rem;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

button {
  cursor: pointer;
}
